.section_info{
    margin-top: 30px;
    width: 100%;
    height: 100%;
        color: black;
  }
  .sh-table {
  margin-bottom:30px;
  }
  
  .media_settings{
    width: 100%;
  }
  .user_img_settings{
    display: block;
    text-align: left;
    margin: unset;
    width: fit-content;
  }
  .user_img_settings:hover{
  color:black;
  cursor:unset;
  }
  
  .user_background_settings{
      margin: unset;
      height: 100px;
      width: 100px;
      cursor: pointer;
  }
  .slider.round {
      border-radius: 34px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }
  
  
  
    .switch {
      position: relative;
      display: inline-block;
      width: 43px;
      height: 20px;
      margin-left: 165px;
    }
    
    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 15px;
      width: 15px;
      left: 4px;
      bottom: 3px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .slider {
      background-color: #b777ea;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px #b777ea;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }
    
    .password_form{
      width:50%;
    }
    .settings_input{
      border-radius: 5px;
      border: 1px solid #d8d8d8;
      width: 100%;
      background: #cf9bf90f;
      resize: vertical;
      color: black;
      padding: 10px;
      outline: none;
    }
    .form-group, .savesettings{
      padding-right: 11px;
      padding-left: 11px;
    }
    .savesettings{
      margin-bottom: 30px;
    }
    .settings_title{
      font-weight: bold;
      color: #757575;;
    }
    .settings_subtitle{
      color: #afafaf;
      font-size: 13px;
    }
  
    .user_settings_name{
      margin-left:10px;
    }
    html input[disabled] {
      cursor: default;
      background: #73c799;
    }
    html input[disabled]:hover {
      cursor: default;
      background: #73c799;
      box-shadow: unset !important;
      transform: translateY(0px) !important;
    }
  
  
    #successtheme,#errorsetting,#settingmsg{
      display: none;
        position: absolute;
        top: 20px;
        right: 40px;
        transition: 0.4s;
    }
  
    .label-file {
      cursor: pointer;
      color: #00b2dc;
      font-weight: bold;
      width: fit-content;
      margin-top: 15px;
  }
  .label-file:hover {
    color: #00b2dc;
  }
  
  .input-file {
      display: none !important;
  }

  .tab-content{
    border: none !important;
    width: 73%;
    float: left;
    margin-bottom: 10px;
  }
  
  .tab-content .active {
    color: white ;
    padding: 29px;
    border-radius: 15px;
    box-shadow: 0px 0px 12px rgba(23, 23, 23, 0.11);
  }
  .nav>li {
     position: unset !important; 
    display: block;
  }
  .tabs-left > .nav-tabs {
    border-bottom: 0;
  }
  
  .tab-content{
    position: relative;
  }
  
  .tab-content > .tab-pane,
  .pill-content > .pill-pane {
    display: none;
  }
  
  .tab-content > .active,
  .pill-content > .active {
    display: block;
  }
  
  .tabs-left > .nav-tabs > li {
    float: none;
    width: 100%;
  }
  
  .tabs-left > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
  }
  
  .tabs-left > .nav-tabs {
    float: left;
    margin-right: 10px;
    margin-left: 5px;
    position: unset !important;
    box-shadow: 0px 0px 12px rgba(23, 23, 23, 0.11);
    width: 25%;
    border-radius: 15px;
    padding: 29px;
  }
  
  .tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
            text-align: left;
            padding: 9px !important;
  }
  
  .tabs-left > .nav-tabs > li > a:hover,
  .tabs-left > .nav-tabs > li > a:focus {
    background-color: white;
    color: black;

  }
  .nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: none !important; 
  }
  
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: white;
  cursor: default;
  background-color: #00b2dc !important;
  border: none !important;
  border-bottom-color: transparent;
  }
  
  .nav-tabs li a {
   background-image:none !important; 
  color: #FFF;
  border-radius: 50px;
  text-align: left ; 
  box-shadow: none;
   width: unset; 
   height:unset; 
   display: block;
  }
  
  .nav-tabs .active {
  background-image: unset !important;
  color: white !important;
  }
  .nav-tabs li a:hover span{
  color: black;
  }
  .nav-tabs .active a:hover span{
  color: white;
  }
  
  .nav-tabs .active a span{
    display: block;
    color: white
  }

  .tab-pane{
    float: left;
    width: 100%;
  }

  .send{
    border: none;
    padding: 12px 30px;
    border-radius: 5px;
    background: #00b2dc;
    cursor: pointer;
    font-size: 13px;
    margin-top: 20px;
    color: white !important;
    outline: none;
  }