.med_style_container .med_container{
    display: inline-block;
    vertical-align: top;
    margin-left: 0px;
    margin-bottom: 50px;
}

.med_container{
    width: 25%;
}

.med{
    margin: 0 15px;
    position: relative;
}

.med_thumbnail{
    position: relative;
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 8px;
}

.sh-ratio {
    position: relative;
}

.med_container .sh-ratio-container {
    padding-bottom: 75%!important;
}

.sh-ratio-content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-size: cover;
    background-position: 50% 50%;
}


@media (max-width: 1023px){
.med_style_container .med_container {
    min-width: 50%;
    margin-bottom: 20px;
}
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

.card-img-top {
    width: 150px;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0px 10px 10px 10px;
}

h5{
    margin-top: 10px;
}

p{
    margin: 10px 0px;
}