<div class="top-div" >

    <h3 class="title-component">{{ title }}</h3>
     <button mat-flat-button color="primary" (click) = "toggleDisplay()" >	<mat-icon style="margin-right: 2px;font-size: 20px;">filter_list</mat-icon>Filtrer</button>
</div>

<div class="grid-container">
    <div class="tablecontent">
       <div class="contentFilter" [hidden] = "isShow"> 
          <div class="filterSearch"> 
            <label for="searchName">Date</label>
            <app-search-bar  (input)="onSearchFirstnameChange($event.target.value)" class="search-bar" ngDefaultControl  name="searchTerm"></app-search-bar>
          </div>
          <div class="filterSearch">
            <label for="searchName">Commercial</label>
            <app-search-bar  (input)="onSearchEmailChange($event.target.value)" ngDefaultControl  name="searchTerm"></app-search-bar>
          </div>
        </div>
        
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef> Numero de la facture </th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>
  
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date de la facture </th>
      <td mat-cell *matCellDef="let element">{{element.date | date: 'dd/MM/yyyy'}}</td>
    </ng-container>
  
    <ng-container matColumnDef="commercial">
      <th mat-header-cell *matHeaderCellDef> Vendeur </th>
      <td mat-cell *matCellDef="let element"> {{element.commercialId.firstName}} {{element.commercialId.lastName}}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
    </div>
