<div class="limiter">

    <div class="container">

        <div class="wrap-login">

             <div class="left-side">

                <div style="width: 100%; max-width: 416px; margin: auto;">


                <div class="logo-container">
                        <img class="logo-gsb" src="../assets/Logo-gsb.png" alt="">
                </div>
            
                    <span class="login-title">Créer votre compte</span>

                <form [formGroup]="formInput">
                    
                    <div class="form-row">


                        <div style="margin-bottom:30px">
                            <!--Identifiant-->
                            <div class="">
                                <label style="font-weight: bold;" class="settings_subtitle" for="lastname">Nom</label>
                                <input class="form-control form_control" style="background:#f3f3f4" type="text" id="lastname" formControlName="lastname">
                            </div>
                            <!--Identifiant-->
                            </div>

                    
                            <div style="margin-bottom:30px">
                                <!--Identifiant-->
                                <div class="">
                                    <label style="font-weight: bold;" class="settings_subtitle" for="firstname">Prénom</label>
                                    <input class="form-control form_control" style="background:#f3f3f4" type="text" id="firstname" formControlName="firstname">
                                </div>
                                <!--Identifiant-->
                    </div>

                    <!--Identifiant-->
                    <div style="margin-bottom:30px">
                        <!--Identifiant-->
                        <div class="">
                            <label style="font-weight: bold;" class="settings_subtitle" for="email">Email</label>
                            <input class="form-control form_control" style="background:#f3f3f4" type="email" id="firstname" formControlName="email">
                        </div>
                        <!--Identifiant-->
                </div>
                
                <div style="margin-bottom:30px">
                    <!--Identifiant-->
                    <div class="">
                        <label style="font-weight: bold;" class="settings_subtitle" for="address">Adresse</label>
                        <input class="form-control form_control" style="background:#f3f3f4" type="text" id="address" formControlName="adresse">
                    </div>
                    <!--Identifiant-->
            </div>

                <div class="form">
                <mat-form-field>
                    <mat-label>Role</mat-label>
                    <mat-select formControlName="role">
                      <mat-option  [value]="role" *ngFor="let role of roles">
                        {{ role }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="form">
                    <mat-form-field class="example-full-width">
                        <mat-label>Sexe</mat-label>
                        <mat-select formControlName="gender">
                            <mat-option [value]="gender" *ngFor="let gender of genders">{{gender}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                </div>

            <div style="margin-bottom:30px">
                <!--Identifiant-->
                <div class="">
                    <label style="font-weight: bold;" class="settings_subtitle" for="password">Mot de passe</label>
                    <input class="form-control form_control" style="background:#f3f3f4" type="password" id="password" formControlName="password">
                </div>
            </div>
            
            <div>
                <label class="uploadProfile" for="file">Choisir une photo</label>
                
                <input type="file" style="display: none;" id="file" (change)="handleFileInput($event.target.files);onSelectFile($event)" formControlName="image">
            </div>

           <div class="container-loggin-button">
            <button class="loggin-button cancel-button" (click)="GoBack()" >Retour</button> <button class="loggin-button" (click)="signup()">Ajouter</button>
           </div>
        
        </form>
                                       
                </div>
            </div>

            <div class="right-side">

            </div>

    </div>

    </div>

</div>