//include material theming
@import '~@angular/material/theming';
@include mat-core();

$background-light-color:#edeef5;

// Define the light theme
$light-app-primary: mat-palette($mat-cyan, 500);
$light-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$light-app-theme:   mat-light-theme($light-app-primary, $light-app-accent);

$background: map-get($light-app-theme, background);
$background: map_merge($background, (background: $background-light-color));
$light-app-theme: map_merge($light-app-theme, (background: $background));

// Include the light theme styles.
@include angular-material-theme($light-app-theme);


// Define an dark theme.
$dark-primary: mat-palette($mat-light-blue,300);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

$background-dark-color:#151419;

$background: map-get($dark-theme, background);
$background: map_merge($background, (background: $background-dark-color));
$dark-theme: map_merge($dark-theme, (background: $background));

// themes will be switched based on class names, angular will switch classes which will trigger the theme change
.dark-theme{
  @include angular-material-theme($dark-theme);
    .mat-drawer{
        background-color: #151419;
        border-right: none !important;
    }
    .tab-pane,.nav-tabs{
       background-color: #15171b !important;
    }
    .form-control, .mat-card, .table> thead> tr> th, .table > tbody > tr > td {
        background-color: #1a1c20 !important;
    }
    .table>tbody>tr>td{
        border-bottom: none !important;
        color: white !important;
    }
    .table > thead > tr > th:last-child {
       border-bottom-right-radius: 0px !important; 
    }
    .table > thead > tr > th:first-child {
        border-bottom-left-radius: 0px !important; 
    }
    .nav-tabs li a:hover span {
        color: black !important;
    }
    .mat-button-toggle-appearance-standard{
        color: white;
        background: #151419;
    }
    .settings_title {
        color: white !important;
    }
    .settings_input{
        color: white !important;
    }
    .user_settings_name{
        color: white !important;
    }
    .title-component{
        color: white !important;
    }
    .mat-dialog-container{
        background: #151419;
    }
    .mat-menu-panel{
        background: #1a1c20;
    }
    .loader{
        background: #1a1c20;
    }
    .card{
        box-shadow: unset;
        background: #15171b !important;
    }
    mat-form-field{
        border-bottom: none !important;
    }
    .mat-primary, .mat-calendar {
        border-bottom: 1px solid #27292d !important;
    }
    .side_container{
        border-left: 1px solid #27292d !important
    }
    .doctor_info_sup{
        border-top: 1px solid #27292d !important;
    }

    .mat-sidenav-content{
       background: #1a1c20;
       border-left: 1px solid #27292d;
    }

    label{
        color: white;
    }
    body{
        color: white !important;
    }
    .is-active .mat-list-item-content{
        background: #1e1d24 !important;
        border: 1px solid #27292d;
    }
    .mat-nav-list .mat-list-item:hover {
        background: none !important;
      }
      .is-active .mat-list-item-content:hover{
        color: #03abd6 !important
    }
    .mat-list-item-content:hover{
        color: white !important
    }
    .form-control{
        background-color: #27262d !important;
        color:white !important;
    }
    .form-control:hover{
    border-color: rgb(79, 195, 247);
    -webkit-box-shadow :0 0 0 3px rgba(13, 169, 214, 0.27);
    box-shadow: 0 0 0 3px rgba(13, 169, 214, 0.27);
    border: 1px solid transparent;
    
    }
    .form-control:focus{
        border-color: #caefff;
        box-shadow: 0 0 0 3px rgba(13, 169, 214, 0.27);
        border: 1px solid #1fbaff75 !important;
        background-color: #1e1d24 !important;
    }

    a#role:active {
        border-color: #caefff;
        box-shadow: 0 0 0 3px rgba(13, 169, 214, 0.27);
        border: 1px solid #1fbaff75 !important;
        background-color: #1e1d24 !important;
    }

    .searchIcon{
        filter: invert(0.8) sepia(0) saturate(0) hue-rotate(0deg);
    }
    .divider{
        background: rgb(41, 40, 45);
    }
    ::placeholder{
        color: white !important;
    }
    
}
  
.mat-list-item-content:hover{
    background: #03abd6;
    color: white;
    transition: 0.3s all ease;
}

.light-theme{
  @include angular-material-theme($light-app-theme);
  
  .mat-drawer{
      background: #edeef5 !important;
  }
  .mat-sidenav-content{
      background: #f4f6fa !important;
      border-left:1px solid #e2e2e2;
  }
  .is-active .mat-list-item-content{
    background: #03abd6 !important;
    border: 1px solid #03abd6;
    color: white;
}
.tab-pane, .nav-tabs{
    background: white;
}

.mat-list-item:hover{
    background: none !important;
}


.form-control:hover{
    background-color: #fff !important;
    border-color: rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 0 0 4px rgba(234,76,137,0.1);
    box-shadow: 0 0 0 4px rgba(3, 171, 214, 0.23);
    border: 1px solid #0000000a;
}

.form-control:focus{
    background-color: #fff !important;
    border-color: rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 0 0 4px rgba(234,76,137,0.1);
    box-shadow: 0 0 0 4px rgba(3, 171, 214, 0.23);
    border: 1px solid #03abd6;
}

.contentFilter div label{
    color: #0d0c22;
}

.searchIcon{
    filter: invert(0.5) sepia(0) saturate(0) hue-rotate(0deg);
}

.divider{
    background: rgb(211, 212, 223);
}

}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;font-family: 'Poppins', sans-serif !important; }
body { margin: 0; }


.mat-drawer{
    border: none !important;
}

.title-component{
    display: block;
    font-weight: bold !important;
    margin-top: 0px !important;
    color: #757575;
    font-size: 20px !important;
    color: #757575;
}


.loader {
    position: absolute;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    height: 100%;
    width: 100%;
}

.mat-button-wrapper{
    vertical-align: middle;
}

.table> thead> tr> th, .table > tbody > tr > td{
    outline: none;
}

.top-div{
    display: flex;
    justify-content: space-between;
    padding: 20px 15px 30px;
    align-items: center;
}

.grid-container{
    margin: 0px 15px 0px 15px;
}


.container {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0;
    max-width: inherit;
}

.mat-list-item-content{
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.mat-button-toggle-checked {
    background-color: mat-color($light-app-primary) !important;
    color: white !important;
  }

.mat-calendar{
    border-bottom: 1px solid #f3f3f3;
}

.mat-calendar-table-header th {
    color: #00b2dc;
    font-weight: bold;
    font-size: 13px;
}

.mat-calendar-table-header-divider::after {
    content: none;
    position: absolute;
    top: 0;
    left: -8px;
    right: -8px;
    height: 1px;
    display: none;
}

.contentFilter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px -15px;
    margin-bottom: 30px;
}

.contentFilter .filterSearch{
    flex: 1;
    margin: 0 16px;
}

.searchIcon{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 16px;
    width: 16px;
    left: 16px;
}

.form-control{
    box-sizing: border-box;
    height: 40px;
    border-radius: 8px;
    font-size: 14px;
}

.contentFilter div label{
    font-size: 14px;
    font-weight: 500;
    -webkit-transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
    transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
    transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease;
    transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
}

.mat-sidenav-content{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
 }

 .mat-flat-button{
     border-radius:8px !important;
 }

 .form-control {
    width: 100%;
    position: relative;
    background-color: #e8eaf0;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
    border: none;
    box-shadow: none;
}

.divider{
    height: 2px;
    margin:10px;
}

.card{
    border-radius: 15px !important;
}

button{
    outline: none !important;
}
