
<form [formGroup]="formInput" *ngFor="let list of Facture" >

    <mat-form-field class="example-full-width" style="display: block;">
      <mat-label>Choisir la date</mat-label>
      <input  matInput  formControlName="date" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div style="text-align:right;">

        <button mat-flat-button color="primary" (click)="add()">Modifier</button>

    </div>
    
    </form>